.menu-overlay {
    position: fixed;
    top: 70px;
    left: 100vw;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.342);
    height: calc(100vh - 70px);
    width: 100vw;
    transition: left 300ms;
}
.menu-overlay.show-overlay {
    left: 0;
}
.menu-overlay .menu{
    background-color: white;
    padding-bottom: 50px;
}
.menu-overlay .menu p {
    width: 90%;
    margin: auto;
}
.menu-overlay .menu p:first-of-type {
    margin-bottom: 10px;
}

.menu-overlay .menu a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}
.menu-overlay .menu p:first-of-type a {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    transition: all 300ms;
}
.menu-overlay .menu p:first-of-type a:hover {
    background-color: #245ab8;
}
.menu-overlay .menu p:last-of-type a {
    border: 1px solid black;
    color: rgb(82, 80, 80);
    padding: 10px 0;
    border-radius: 5px;
    transition: background-color 300ms;
}
.menu-overlay .menu p:last-of-type a:hover {
    color: white;
    background-color: grey;
    border-color: transparent;
}